.calendar {
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-style: normal;
}
.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.intro-font{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.cinzel{
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}
.sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}